<img src="https://logovtor.com/wp-content/uploads/2020/07/sennder-gmbh-logo-vector.png" style = "width:800px;height:400px">

# Operation Analyst Case Study

#### Following is the API to the PostgreSQL database and the SQL queries requested in the case study.

In [1]:
%load_ext sql
%sql postgresql://postgres:asyxqw08@localhost:5432/sennder

##### Question 1

In [2]:
%%sql
select cast(extract(month from ord_date)as int) as month, office as region, team, 
	SUM( CASE WHEN cancelled = 'No' THEN 1 ELSE 0 END ) as non_cancel_cnt,
	SUM( CASE WHEN cancelled = 'Yes' THEN 1 ELSE 0 END ) as cancel_cnt,
	ROUND(CAST(sum(revenues) as numeric),2) as total_rev,
	ROUND(CAST(sum(cost) as numeric),2) as total_cost,
	ROUND(((CAST(sum(revenues) as numeric)-CAST(sum(cost) as numeric))/CAST(sum(revenues) as numeric))*100,2)  as margin_percent
from opi_dat
group by 1,2,3
order by 1,2,3;

 * postgresql://postgres:***@localhost:5432/sennder
12 rows affected.

[(10, 'Belgium', 'Belgium AM', 150, 453, Decimal('141053.18'), Decimal('153331.59'), Decimal('-8.70')),
 (10, 'Portugal', 'Moonshot', 239, 341, Decimal('313088.00'), Decimal('328852.00'), Decimal('-5.04')),
 (10, 'Switzerland', 'Pizzaboys', 18, 105, Decimal('12344.49'), Decimal('12693.00'), Decimal('-2.82')),
 (10, 'Switzerland', 'Surfers', 590, 682, Decimal('519683.89'), Decimal('536148.50'), Decimal('-3.17')),
 (11, 'Belgium', 'Belgium AM', 944, 111, Decimal('708079.44'), Decimal('733661.95'), Decimal('-3.61')),
 (11, 'Portugal', 'Moonshot', 269, 29, Decimal('325967.00'), Decimal('339149.00'), Decimal('-4.04')),
 (11, 'Switzerland', 'Pizzaboys', 274, 27, Decimal('150238.09'), Decimal('157154.50'), Decimal('-4.60')),
 (11, 'Switzerland', 'Surfers', 1048, 162, Decimal('743641.67'), Decimal('747714.60'), Decimal('-0.55')),
 (12, 'Belgium', 'Belgium AM', 928, 9, Decimal('893678.45'), Decimal('889764.42'), Decimal('0.44')),
 (12, 'Portugal', 'Moonshot', 307, 6, Decimal('363652.50'), Decimal('359936.00'), Decimal('1.02')),
 (12, 'Switzerland', 'Pizzaboys', 154, 1, Decimal('75205.98'), Decimal('76805.51'), Decimal('-2.13')),
 (12, 'Switzerland', 'Surfers', 1563, 17, Decimal('1116295.16'), Decimal('1116548.20'), Decimal('-0.02'))]

##### Question 2

In [3]:
%%sql
select cast(extract(month from ord_date)as int) as month, office as region, team,
	sUM(CASE WHEN gps = 'Yes' THEN 1 ELSE 0 END) as num_of_gpst,
    round((cast(SUM(CASE WHEN gps = 'Yes' THEN 1 ELSE 0 END)as numeric)/cast(SUM( CASE WHEN cancelled = 'No' THEN 1 ELSE 0 END) as numeric))*100,2) as gps_percent,
  	SUM( CASE WHEN ontime = 'Yes' THEN 1 ELSE 0 END ) as number_of_ontime,
  	ROUND(CAST(SUM( CASE WHEN ontime = 'Yes' THEN 1 ELSE 0 END )as numeric)/CAST(SUM( CASE WHEN ontime is not NULL THEN 1 ELSE 0 END ) as numeric)*100,2) as ontimepercent
from opi_dat
group by 1,2,3
order by 1,2,3;

 * postgresql://postgres:***@localhost:5432/sennder
12 rows affected.

[(10, 'Belgium', 'Belgium AM', 4, Decimal('2.67'), 0, Decimal('0.00')),
 (10, 'Portugal', 'Moonshot', 8, Decimal('3.35'), 0, Decimal('0.00')),
 (10, 'Switzerland', 'Pizzaboys', 1, Decimal('5.56'), 0, Decimal('0.00')),
 (10, 'Switzerland', 'Surfers', 31, Decimal('5.25'), 0, Decimal('0.00')),
 (11, 'Belgium', 'Belgium AM', 475, Decimal('50.32'), 883, Decimal('83.70')),
 (11, 'Portugal', 'Moonshot', 184, Decimal('68.40'), 222, Decimal('74.50')),
 (11, 'Switzerland', 'Pizzaboys', 158, Decimal('57.66'), 209, Decimal('69.44')),
 (11, 'Switzerland', 'Surfers', 445, Decimal('42.46'), 858, Decimal('70.91')),
 (12, 'Belgium', 'Belgium AM', 543, Decimal('58.51'), 867, Decimal('92.53')),
 (12, 'Portugal', 'Moonshot', 278, Decimal('90.55'), 252, Decimal('80.51')),
 (12, 'Switzerland', 'Pizzaboys', 96, Decimal('62.34'), 128, Decimal('82.58')),
 (12, 'Switzerland', 'Surfers', 902, Decimal('57.71'), 1343, Decimal('85.00'))]

##### Question 3

In [4]:
%%sql
select cast(extract(month from ord_date)as int) as month, office as region, team,
	SUM(CASE WHEN market = 'OCTOPUS' and cancelled = 'No' THEN 1 ELSE 0 END) as abs_octopus,
	SUM(CASE WHEN market = 'ORCAS' and cancelled = 'No' THEN 1 ELSE 0 END) as abs_orcas,
	ROUND(CAST(SUM( CASE WHEN market = 'OCTOPUS' and cancelled = 'No' THEN 1 ELSE 0 END )as numeric)/
		  (CAST(SUM( CASE WHEN market = 'OCTOPUS' and cancelled = 'No' THEN 1 ELSE 0 END )as numeric)+
		   CAST(SUM( CASE WHEN market = 'ORCAS' and cancelled = 'No' THEN 1 ELSE 0 END )as numeric))*100,2) AS octo_percent,
	ROUND(CAST(SUM( CASE WHEN market = 'ORCAS' and cancelled = 'No' THEN 1 ELSE 0 END )as numeric)/
		  (CAST(SUM( CASE WHEN market = 'OCTOPUS' and cancelled = 'No' THEN 1 ELSE 0 END )as numeric)+
		   CAST(SUM( CASE WHEN market = 'ORCAS' and cancelled = 'No' THEN 1 ELSE 0 END )as numeric))*100,2) AS orca_percent
from opi_dat
group by 1,2,3
order by 1,2,3;

 * postgresql://postgres:***@localhost:5432/sennder
12 rows affected.

[(10, 'Belgium', 'Belgium AM', 140, 10, Decimal('93.33'), Decimal('6.67')),
 (10, 'Portugal', 'Moonshot', 228, 11, Decimal('95.40'), Decimal('4.60')),
 (10, 'Switzerland', 'Pizzaboys', 15, 3, Decimal('83.33'), Decimal('16.67')),
 (10, 'Switzerland', 'Surfers', 452, 138, Decimal('76.61'), Decimal('23.39')),
 (11, 'Belgium', 'Belgium AM', 845, 99, Decimal('89.51'), Decimal('10.49')),
 (11, 'Portugal', 'Moonshot', 233, 36, Decimal('86.62'), Decimal('13.38')),
 (11, 'Switzerland', 'Pizzaboys', 97, 177, Decimal('35.40'), Decimal('64.60')),
 (11, 'Switzerland', 'Surfers', 767, 281, Decimal('73.19'), Decimal('26.81')),
 (12, 'Belgium', 'Belgium AM', 826, 102, Decimal('89.01'), Decimal('10.99')),
 (12, 'Portugal', 'Moonshot', 247, 60, Decimal('80.46'), Decimal('19.54')),
 (12, 'Switzerland', 'Pizzaboys', 71, 83, Decimal('46.10'), Decimal('53.90')),
 (12, 'Switzerland', 'Surfers', 1135, 428, Decimal('72.62'), Decimal('27.38'))]